@import "tailwindcss";

@font-face {
    font-family: lausLight;
    src: url(../public/fonts/Lausanne-300.woff2)
}

@font-face {
    font-family: lausBold;
    src: url(../public/fonts/Lausanne-500.woff2)
}

body {
    background-color: #111;
}