@import "tailwindcss";

@font-face {
    font-family: lausLight;
    src: url(../public/fonts/Lausanne-300.woff2)
}

@font-face {
    font-family: lausBold;
    src: url(../public/fonts/Lausanne-500.woff2)
}


.moveX {
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.move-link {
    opacity: 0;
    transition: all ease 0.3s;
}

.link:hover .move-link{
    opacity: 1;
}